.idea/
.vscode/
**/local/
**/logs/
report2bq-3.7/
**/python*/
**/report_files/
**/*.csv
**/*.pyc
.history/
**/*.log
**/report2bq.zip
**/__pycache__/
**/node_modules/
**/.clasp.json
**/package-lock.json
**/apps-script/
.editorconfig
**/ae_polymer/
**/demo/
auth-appengine/test/
**/*.code-workspace
**/*.ipynb
**/bmo-blast/
**/sa360_reports/
**/holiday2020_sa360_reports/
**/sa360_hourly_depleted/
**/ga360_reports/
**/tokens/
