.idea/
.vscode/
config_files/
dh@google/
local/
logs/
report2bq-3.7/
report2bq-3.8/
report_files/
**/*.csv
**/*.pyc
.history/
*.log
output.txt
output2.txt
report2bq.zip
**/__pycache__/
**/node_modules/
**/.clasp.json
**/package-lock.json
**/apps-script/
.editorconfig
**/ae_polymer/
**/demo/
appengine/build/
appengine/test/
**/*.code-workspace
**/*.ipynb
bmo-blast/
sa360_reports/
holiday2020_sa360_reports/